.search-form {
  width: 100%;
  background-color: #3408d1;
  justify-content: center;
  gap: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.gallery {
  flex-wrap: wrap;
  gap: 15px;
  padding-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}
